.parallax {
    background-image: url("https://res.cloudinary.com/dgnbjxh5i/image/upload/v1685471155/oneArt/back_rsyo9c.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero {
    height: 85vh;
}
