.dropdown-item:hover {
    background-color: #e1c7a4;
    color: white;
}

.carousel-item img {
    height: 160px;
}
.hero {
    height: 100vh;
}
.painter {
    margin-top: 100px;
}

.blockquote-custom {
    position: relative;
    font-size: 0.7rem;
}

.blockquote-wrapper {
    width: 150px;
    position: absolute;
    right: 20px;
    z-index: 10;
}
.blockquote-wrapper blockquote p,
.blockquote-statue blockquote p {
    font-size: 0.7rem;
}

.blockquote-statue {
    width: 150px;
    position: absolute;
    left: 20px;
    z-index: 10;
}

.blockquote-custom-icon {
    background-color: #e1c7a4;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -20px;
    left: 50px;
}
.avatar {
    width: 30px;
    border-radius: 50%;
}
.avatar-bordered {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border: white 1px solid;
}
.avatar-large {
    width: 50px;
}
.card {
    height: 250px;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
    background-size: cover !important;
    color: white;
    position: relative;
    border-radius: 5px;
    margin-bottom: 20px;
}
.card-user {
    position: absolute;
    right: 10px;
    top: 10px;
}
.card-category {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 20px;
}
.card-description {
    position: absolute;
    bottom: 10px;
    left: 10px;
}
.card-description h2 {
    font-size: 22px;
}
.card-description p {
    font-size: 15px;
}
.card-link {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 2;
    background: black;
    opacity: 0;
}
.card-link:hover {
    opacity: 0.1;
}
.features img {
    width: 100px;
}
.features h2 {
    font-size: 20px;
    margin-bottom: 10px;
}
.features p {
    font-size: 15px;
    font-weight: lighter;
}

/* Galerry Page */

.single_advisor_profile {
    position: relative;
    margin-bottom: 50px;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    z-index: 1;
    border-radius: 15px;
    -webkit-box-shadow: 0 0.25rem 1rem 0 rgba(47, 91, 234, 0.125);
    box-shadow: 0 0.25rem 1rem 0 rgba(47, 91, 234, 0.125);
}
.single_advisor_profile .advisor_thumb {
    position: relative;
    z-index: 1;
    border-radius: 15px 15px 0 0;
    margin: 0 auto;
    padding: 30px 30px 0 30px;
    background-color: #3f43fd;
    overflow: hidden;
}
.single_advisor_profile .advisor_thumb::after {
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    position: absolute;
    width: 150%;
    height: 80px;
    bottom: -45px;
    left: -25%;
    content: "";
    background-color: #ffffff;
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
}
/* end Gallery */

@media screen and (min-width: 768px) {
    .carousel-item img {
        height: 250px;
    }
    .blockquote-wrapper {
        width: 250px;
    }
    .blockquote-statue {
        width: 250px;
    }
    .blockquote-wrapper blockquote p,
    .blockquote-statue blockquote p {
        font-size: 1rem;
    }
}

@media screen and (min-width: 1440px) {
    .carousel-item img {
        height: 450px;
    }
}
